# Ignore Python virtual environment
venv/

# Ignore log files
*.log

# Ignore sensitive configuration files
config.ini
secrets.json

# Ignore IDE-specific files
.vscode/
.idea/
.devcontainer/

# Ignore Caching
__pycache__/

# dependencies
node_modules/
.pnp/
.pnp.js

# testing
coverage/

# production
build/

# misc
.DS_Store
.env*
# .env
# .env.development
# .env.local
# .env.production

npm-debug.log*
