# Ignore Python virtual environment
venv/

# Ignore log files
*.log

# Ignore sensitive configuration files
config.ini
secrets.json

# Ignore IDE-specific files
.vscode/
.idea/
.devcontainer/

# Ignore Caching
__pycache__/
